{% extends 'layout.html' %}

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
{% block body %}



<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }

  th {
    text-align: center;
    background: linear-gradient(135deg, cyan, #0047ab);
    ;
    padding: 8px;
  }

  td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: rgb(219, 214, 214);
  }
</style>

<body style="text-align: center; background-image:url(https://user-images.githubusercontent.com/84843295/149741187-1f39d4f4-f06a-4562-94c3-8568879023f8.png);
 background-repeat: no-repeat; background-size: 100%; background-position-y:bottom; height: 100%;">
 <h1 style="text-align: center; font-size: 30px; transform: translateY(-100px);">Welcome!</h1>
  <a href="buy"><img src="" alt="">
    <input type="submit" value="Buy"
      style="background-color: black; border: 1px solid black;  margin-right: 20px; transform: translateY(-100px); border-radius: 15px; width: 100px; color: white;"></a>
  <a href="transaction"><input type="submit" value="Send" style="background-color: black; border: 1px solid black; transform: translateY(-100px); border-radius: 15px; width: 100px; color: white;"></a>

  <div>
    <div style="display: flex; justify-content: center; transform: translateY(-50px);">
      <div class="container" style="width: 30%; transform: translateX(-9px);">
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
          data-bs-interval="false">
          <div class="carousel-inner">
            {% for block in blockchain %}
            <div class="carousel-item" style="border: 5px solid black; border-radius: 15px; ">
              <b><p style="border-bottom: 1px solid black; padding:10px 0px; background: linear-gradient(
                135deg,rgb(229, 255, 0), #eeb310); border-radius: 10px 10px 0px 0px;">Block Number: {{block.number}}</p></b>
              <div>
              <p style="text-align: left; padding-left: 65px;">{{block.sender}}</p>
              <p style="text-align: left; padding-left: 65px;">{{block.recipient}}</p>
              <p style="text-align: left; padding-left: 65px;">{{block.amount}} RC</p>
              <p style="text-align: left; padding-left: 65px;">{{block.previous}}</p>
              
              </div>
              <p style="font-size: 12px; border-top: 1px solid black; padding-top: 10px; margin-bottom: 5px;"><b>HASH</b></p>
              <p style="font-size: 12px;">{{block.hash()}}</p>
            </div>
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="prev" style="border-right: 1.5px solid rgb(255,255,255,0.6); height: 20%; top: 92px; width: 10%;">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="next" style="border-left: 1.5px solid rgb(255,255,255,0.6); height: 20%; top: 92px; width: 10%;">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script>
      let last = document.querySelector('.carousel-inner').lastElementChild.previousSibling.previousSibling.previousElementSibling;
      last.classList.toggle('active')
    </script>
</body>
{% endblock %}