body {
  margin: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topnav {
  background: linear-gradient(135deg, rgb(229, 255, 0), #eeb310);
  overflow: hidden;
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0%;
}

/* Change the color of links on hover */
.topnav ul li a:hover {
  background-color: #ddd;
  color: black;
}
#logo:hover {
  background: none;
}
nav img {
  width: 80px;
  height: 80px;
  display: inline;
  padding: 0%;
  margin-top: 0%;
}

/* Add a color to the active/current link */
footer {
  color: white;
  background-color: black;
}
.topnav ul {
  list-style: none;
  display: inline-flex;
}
.sub-menu {
  display: none;
}
.topnav ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: rgb(255, 255, 255);
  color: white;
}
.topnav ul li:hover .sub-menu ul {
  display: block;
}
.topnav ul {
  display: flex;
  align-items: center;
}
.sub-menu ul,
.sub-menu ul a {
  padding: 0%;
  padding: 20px 10px;
}
.sub-menu ul li {
  text-align: center;
}
.sub-menu {
  padding-bottom: 20px;
  width: 100%;
  transform: translateY(-5px);
}
