body {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 63px;
  box-shadow: 0 8px 6px -6px #999;
  background: linear-gradient(135deg, rgb(229, 255, 0), #eeb310);
}
nav img {
  width: 80px;
  height: 80px;
  display: inline;
  padding-left: 40px;
}
nav ol {
  padding-right: 50px;
}
nav ol li {
  display: inline;
  margin: 0px 15px;
  font-size: 18px;
  text-shadow: 1px 1.5px rgb(89, 89, 83, 0.75);
}
nav ol li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
nav button:hover a {
  color: white;
}
main {
  text-align: center;
}
#sec1 {
  width: 600px;
  background-color: rgb(241, 210, 34, 0.9);
  color: black;
  margin: auto;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 10px 8px 8px #000;
  margin-top: 4cm;
}
#sec1 p {
  font-size: 18px;
  font-weight: 600;
}
#gsn a {
  color: black;
  font-weight: 600;
  font-size: 20px;
}
#gsn a:hover {
  color: blue;
}
