body{
  margin: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topnav {
  background: linear-gradient(
      135deg, #0047ab,cyan);
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0%;
}

/* Change the color of links on hover */
.topnav ul li a:hover {
  background-color: #ddd;
  color: black;
}

nav img{
  width: 70px;
  height: 45px;
  display: inline;
  padding: 0%;
  margin-top: 0%;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
footer{
  color: white;
  background-color: black;
}
.topnav ul{
list-style: none;
display: inline-flex;
}
.sub-menu{
display: none;
}
.topnav ul li:hover .sub-menu{
display: block;
position: absolute;
background: black;
color: white;
}
.topnav ul li:hover .sub-menu ul{
display: block;
}
.topnav ul{
display: flex;
align-items: center;
}
.sub-menu ul, .sub-menu ul a{
padding: 0%;
padding: 20px 10px;
}
.sub-menu ul li{
text-align: center;
}
.sub-menu{
padding-bottom: 20px;
}