body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        135deg, #0047ab,cyan);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 97.4vh;
    align-items: center;
    font-family: 'Varela Round',roboto;
}
#form_body{
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    width: 500px;
    border-radius: 7px;
    text-align: center;
    padding: 30px 0px;
    display: block;
}
.line{
    width: 145px;
    height: 2px;
    background-color: rgb(0, 0,0, 0.5);
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 4px;
    margin-left: 4px;
}
h1{
    display: block;
    margin: 20px 0px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.5px;
}
#form_body input{
    margin: 15px 0px;
}
#form_body img{
    width: 30px;
    height: 30px;
    text-align: left !important;
    margin-top: 5px;
    margin-left: 5px;
}
button{
    margin: 10px 34px;
    width: 117px;
    height: 32px;
    border:2px solid white;
    border-radius: 3px;
    color: black;
    background-color: white;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 0 8px 6px -10px #000;
}
button:hover{
    transform: translateY(-0.10em);
    box-shadow: 0 8px 6px -6px #000;
    background-color: #505050;
    border: 2px solid #505050;
    color: white;
}
form input{
    margin:10px 0px;
    width: 300px;
    height: 30px;
    background-color: rgba(255,255,255,0);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
}
.already{
    color: #000;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
h5{
    display: inline;
    font-weight: 500;
}
.already span{
    border-bottom: #000;
}
.already span:hover{
    color: blue;
    border-bottom: blue;
}
img{
    width: 120px;
    height: 80px;
    display: inline;
}