<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R-Cell</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon2.png') }}">
</head>

<body>
    <nav>
        <img src="/static/images/favicon2.png" alt="">
        <ol>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
        </ol>
    </nav>
    <main>
        <h1>R-Cell (RC) Cryptocurrency</h1>
        <section id="sec1">
                <p>R-Cell is a Crypto currency developed by students at VJTI, Mumbai as a part of learning and
                    implementing the technology.</p>
                <p>R-Cell was implemented using Flask framework and Python.</p>
                <p id="gsn"><a href="/register">Get started now</a></p>
        </section>

    </main>

</html>