<!DOCTYPE html>

<html lang="en">

<head>
  <title>R-Cell - Dashboard</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon2.png') }}">
  <link rel="stylesheet" href="/static/css/layout.css">
  
</head>

<body>
  <header>
    <nav class="topnav">
      <ul >
        <li><a href="dashboard" id="logo"><img src="/static/images/favicon2.png" alt=""></a></li>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li style="display: flex; align-items: center; position: absolute; right: 20px;"><img src="/static/images/profile.png" alt="" style="height: 25px; width: 25px;"><span style="margin-left: 10px;"> {{session.get('name')}} </span>
          <div class="sub-menu"  style="top: 30px;">
            <ul>
              <li><a href="">WALLET</a></li>
              <li><a href="index">LOGOUT</a></li>
            </ul>
          </div>
        </li>
      </ul>
  
    </nav>
  </header>
  <main>
    <div>

      <a href="buy" ><input type="submit" value="Buy" style="background-color: cyan; margin-top:50px; margin-right: 20px;"></a>
      <a href="transaction"><input type="submit" value="Send" style="background-color: cyan; margin-top:50px;"></a>

      <div>
        {% block body %}

        {% endblock %}

      </div>
  </main>
  <footer>
    <div>
      <span>Copyright © R-Cell 2021</span>
    </div>
  </footer>

  </div>
</body>

</html>