<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>R-Cell - Login</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon2.png') }}">
  <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
  <img src="/static/images/favicon2.png" alt="">
  <div id="form_body">
    <a href="/index"><img src="/static/images/home.png" alt=""></a>
    <h1><div class="line"></div>LOGIN<div class="line"></div></h1>
    
    {% include 'includes/_messages.html' %}
    <form action="" method="POST">
      <input type="text" id="inputUsername" name="username" placeholder="Username" required="required"
        value={{request.form.username}}>
      <br>
      <input type="password" id="inputPassword" name="password" placeholder="Password" required="required"
        value={{request.form.password}}>
      <br>
      <button type="submit">LOGIN</button>
    </form>
    <div >
      <h5 class="already">Don't have an account? </h5>
            <a href="/login" class="already"><span>Register</span></a>
    </div>
  </div>

</body>

</html>