<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>R-Cell - Login</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename = 'images/favicon2.png') }}"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      rel="shortcut icon"
      href="https://user-images.githubusercontent.com/84843295/149780409-72a6d505-0f8b-42a3-9738-f4898a2a513c.png"
    />
  </head>

  <body
    style="
      background-image: url(https://images.pexels.com/photos/8369836/pexels-photo-8369836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
      background-size: 100%;
      background-repeat: no-repeat;"
  >
    <nav>
      <a href="/index"><img src="https://user-images.githubusercontent.com/84843295/149780409-72a6d505-0f8b-42a3-9738-f4898a2a513c.png" alt="" /></a>
      <h1 style="font-weight: 20px; align-items: center; margin-left: 3.5cm">
        R-Cell (RC) CRYPTO-CURRENCY
      </h1>
      <ol>
        <li><a href="/register">REGISTER</a></li>
      </ol>
    </nav>
    <!-- <img src="/static/images/favicon2.png" alt=""> -->
    <div id="form_body">
      <a href="/index"><img src="/static/images/home.png" alt="" /></a>
      <h1>
        <div class="line"></div>
        LOGIN
        <div class="line"></div>
      </h1>

      {% include 'includes/_messages.html' %}
      <form action="" method="POST">
        <input
          type="text"
          id="inputUsername"
          name="username"
          placeholder="Username"
          required="required"
          style="border: 1px solid black"
          value="{{request.form.username}}"
        />
        <br />
        <input
          type="password"
          id="inputPassword"
          name="password"
          placeholder="Password"
          required="required"
          style="border: 1px solid black"
          value="{{request.form.password}}"
        />
        <br />
        <button type="submit">LOGIN</button>
      </form>
      <div>
        <h5 class="already">Don't have an account?</h5>
        <a href="/register" class="already"><span>Register</span></a>
      </div>
    </div>
  </body>
</html>
