<html>

<body style="background: linear-gradient(90deg, rgb(30, 255, 0), rgb(23, 117, 5));">
  {% extends 'layout.html' %}
{% block body %}
<!-- {% include 'includes/_messages.html' %} -->
<div style="border: 5px solid black; margin-left: 35%; margin-right: 35%;">
<p style="color: rgb(0, 0, 0); padding-left: 28%;">Your current balance is {{ balance }} RC</p>
<div style="padding-left: 5%;">
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
  <div style="color: rgb(0, 0, 0); align-items: center; width: 95%;">
    <b>{{render_field(form.username, class_="form-control")}}</b>
  </div>
  <div style="color: rgb(0, 0, 0); width: 95%;" >
    <b>{{render_field(form.amount, class_="form-control")}}</b>
  </div>
</div>
  </br>
  <div style="padding-left: 18%; transform: translateY(-10px);">
  <p style="color: rgb(0, 0, 0); padding-left: 115px;"><input class="btn btn-primary btn-block" type="submit" value="SEND" style="color: rgb(0, 0, 0);"></p>
</div>
</div>
</form>

{% endblock %}
</body>
</html>
